.LogPage{
  display: flex;
  width: 1080px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 600px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  position: relative;
}

body{
  background: linear-gradient(to right, #cbdbf7, #d5e2f8);
}


.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #cbdbf7, #d5e2f8);
}

.LogPage_content{
  width: 100%;
  padding: 20px;
  display: flex;
}

.block{
  width: 50%;
  padding: 10px;
  justify-content: center;
  display: flex;
}
