.profile{
    padding: 20px;
}
.profile_header{
    display: flex;
    padding-bottom:20px;
    border-bottom: 1px solid #ccc;
}
.profile_img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 50px;
}
.profile_name{
    font-size: 50px;
}
.profile_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.profile_text{
    font-size: 16px;
    background-color: #ccc;
    padding: 5px 7px;
    border-radius: 10px;
}