.scroll_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    padding: 0 50px;
    gap: 20px;
  }
  .scroll_title{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    padding: 10px 0;
  }
  .scroll_text{
    color: #f7ebeb;
    font-size: 16px;
  }

  .btn{
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 17px;
    border: 1px solid #ccc;
    color: #fff;
    width: 130px;
    cursor: pointer;
  }
  